<div class="navbar">
    <div class="container">
        <div class="adminContainer">
            <span>Admin</span>
            <img src="assets/avatar.png" alt="avatar">
        </div>
    <ul>
        <li [ngClass]="{'activate': activated}" (click)="setFirstView()"> 
            <img src="assets/communication.png" alt="avatar">
            <span>reclamation</span>
        </li>

        <li [ngClass]="{'activate': !activated}" (click)="setSecondView()">
            <img src="assets/pie-chart.png" alt="avatar">
            <span>statistique</span>
        </li>
    </ul>
    </div>
</div>